name: build
on: [push, pull_request]
env:
  GO111MODULE: on
  CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}
jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    strategy:
      fail-fast: true
      max-parallel: 2
      matrix:
        go: ["stable", "oldstable"]

    steps:
      - name: Set up Go
        uses: actions/setup-go@v3
        with:
          go-version: ${{matrix.go}}
        id: go

      - name: Check out code into the Go module directory
        uses: actions/checkout@v3

      - name: Lint code
        uses: golangci/golangci-lint-action@v3
        with:
          only-new-issues: true

      - name: Test
        run: |
          go test -race -count=1 -coverprofile=queue.coverprofile ./queue
          go test -race -count=1 -coverprofile=server.coverprofile  ./server
          go test -race -count=1 -coverprofile=main.coverprofile

      - name: Upload coverage to codecov
        run: |
          go install github.com/modocache/gover
          echo "" > coverage.txt
          gover
          cat gover.coverprofile >> coverage.txt
          bash <(curl -s https://codecov.io/bash)

      - name: Build
        run: go build -v .
